[2015-09-18 04:41] ivanoats opened #2 "README needs more info to get started for a brunch n00b"
Could you post a complete brunch config instead of a snippet please?

I'm not sure which directory elm files should go in, and what the rest of the brunch file should look like if my app is completely in Elm.

Thanks!

[2015-09-18 07:19] madsflensted commented on #2
Hi,

You can find an example brunch config file here:
https://github.com/madsflensted/dots?files=1

Or you could look at this example by @urfolomeus
https://github.com/urfolomeus/seat_saver?files=1

Let me know if that answers your question
On Sep 18, 2015 06:41, "Ivan Storck" notifications@github.com wrote:

[2015-09-24 19:39] ivanoats commented on #2
Hi, thanks for the examples. It's still not really enough info to get started easily.

I have a simple brunch config [in this repo](https://github.com/ivanoats/Bingo), but it's not compiling the Elm files. Could you take a look please?

I'm willing to help contribute to the README once I understand how this plugin works better.

[2015-09-24 20:04] ivanoats commented on #2
Nevermind, I needed to add my src/ directory to a paths.watched in the brunch config, then it found the elm files.

I think that maybe the readme could contain a very simple brunch app skeleton example, would you like me to take a stab at it?

[2015-09-24 20:13] madsflensted commented on #2
Glad you found the problem.
Contributions are welcome!
On Sep 24, 2015 22:04, "Ivan Storck" notifications@github.com wrote:

[2015-09-25 16:21] #2 closed

[2015-09-28 00:39] Dkendal opened #4 "Unexpected end of input"
Using version 0.3.1, brunch can't compile any elm files:

27 Sep 17:34:26 - error: Compiling of 'web/static/vendor/main.js' failed. Line 777: Unexpected end of input

After downgrading to 0.3.0, the problem goes away. This is with elm 2.0.0, Linux 3.16.0-37.

main.elm:
[code]

Elm has no issue compiling it with elm-make.

[2015-09-28 19:21] madsflensted commented on #4
@Dkendal Could not reproduce this error, and it is a bit strange since 0.3.1 is purely a documentation update.

One thing that comes to mind reading the error message is that it looks like brunch is trying to read main.js before elm has finished writing it.

Can you post your brunch-config.js?

[2015-09-28 20:08] Dkendal commented on #4
Upon revisiting this last night, I think vim was the real culprit. Vim saves files twice, once in a weird state, which would not be valid for compilation.

[2015-09-28 20:08] Dkendal commented on #4
i.e. when using `brunch build` post save everything is fine. This issue is likely fine to close.

[2015-09-29 19:07] madsflensted commented on #4
thanks for the feedback.

[2015-09-29 19:07] #4 closed

[2015-09-30 19:03] HusseinMorsy opened #5 "not possible to join or uglify"
I have the problem that elm-brunch directly compiles to files in the destination folder. So brunch can't join the compiled elm files with other javascripts files, nor is it possible to uglify.

Other brunch plugins, like coffescript-brunch returns the content of compiled file to the callback instead of directly writing to the destination folder.

Do you have any idea to solve the problem ?

[2015-10-01 21:11] madsflensted commented on #5
Currently  the elm compiler will bundle all the elm related libraries together, and does it's own management of dependencies. And the way this is handled are about to change in the upcoming releases of the elm compiler / make utility. So I have not tried to do anything fancy to pass generated javascript down the brunch pipeline.

I am sure there is a way to get brunch to take the generated javascr

[2015-10-12 10:01] ibnHatab opened #6 "Chain compilation failed"
I think that vendor/*.js compilation started before elm make had finished writing *.js file.

To demonstrate it follow this:
1. clone https://github.com/urfolomeus/seat_saver.git
2. npm install
3.  node_modules/brunch/bin/brunch watch --stdin
4. seat_saver/web/elm$ touch SeatSaver.elm

Observe sporadically failure to compile.
<<
 ~/tmp/seat_saver$ node_modules/brunch/bin/brunch watch --stdin

[2015-10-13 06:57] madsflensted commented on #6
Yes - I have seen the same behavior. I haven't had time to debug the details, but suspect that the lies in what kind of events the brunch file watcher listens to, or maybe the elm compiler writes to the file multiple times.

Brunch uses [chokidar](https://github.com/paulmillr/chokidar) for watching files, and I see a note in the section on [performance](https://github.com/paulmillr/chokidar#perfor

[2015-10-13 08:48] ibnHatab commented on #6
Thank you for clarification.

I tried to fix chokidar with awaitWriteFinish option but it not referenced in brunch/deps/chokidar source anywhere and might be not there yet.

Anyway it is wrong way to fix missing dependence from.elm to .js.

The #5 sounds interesting and for sure will eliminate glitches in brunch.

[2015-12-22 06:53] hamiltop opened #8 "Version 0.4.0 does not output file."
Is there some documentation I'm missing?

If I bump my version to 0.4.0, then everything breaks.

[2015-12-22 07:40] madsflensted commented on #8
Can you provide the elm-brunch part of your brunch config file?

0.4 skips non main modules on init.
On Dec 22, 2015 07:53, "Peter Hamilton" notifications@github.com wrote:

[2015-12-22 07:59] hamiltop commented on #8
[code]

in `web/elm`:

[code]

output of `brunch b -d` with `0.4.0`:

[code]

output of `brunch -b -d` with `0.3.1`:

[code]

[2015-12-22 10:22] madsflensted commented on #8
Ok I spotted the problem,  it relates to difference between the filepath
used by brunch and the one used by Elm. It has been there a while but the
latest change made it visible.

Thanks for reporting it, I will take a look at fixing.

[code]

in web/elm:

➜  elm git:(master) ✗ ls src
GuidedTour.elm       ReviewYourBudget.elm
➜  elm git:(master) ✗ cat elm-package.json
{
    "version": "1.0.0",

[2015-12-26 13:10] madsflensted commented on #8
Ok - I have pushed a fix and published version 0.4.1 on npm.

@hamiltop Please give it a try when you get a chance.

[2015-12-26 13:18] #8 closed

[2015-12-26 13:50] madsflensted opened #9 "Compile multiple main modules to single js file"
Problem: when specifying several modules with mainModules configuraiton, each output file will contain the entire elm core.

Solve by using elm makes ability to compile several top level modules into the same js file:

[code]
Let this be a user option

[2015-12-26 13:52] madsflensted opened #10 "ignore elm-stuff elm files in brunch watched"
Problem: on initial run brunch fires add events for all elm files in the elm-stuff folder when elm files are in subfolder.

[2015-12-26 20:32] hamiltop commented on #8
Looks good.

[2016-01-25 22:03] urfolomeus opened #11 "New way to create Brunch plugins"
It looks like there is a [new template for creating Brunch plugins](https://github.com/brunch/brunch/blob/master/docs/plugins.md).

I discovered this when someone raised [an issue](https://github.com/CultivateHQ/seat_saver/issues/4) on my SeatSaver repo. We were seeing [strange behaviour](https://gist.github.com/urfolomeus/0d527a1479b15d36d247) when the elm file was in the watchlist, but everythin

[2016-01-25 22:32] tobyhede commented on #11
semver, how does it even!!?

[2016-01-26 00:19] polymetis commented on #11
I ran into this on the weekend. Slow to the draw I guess. :P @madscoaducom This is what I was talking about on twitter but I wanted to make a proper bug report. If you need any help feel free to ping me but @urfolomeus 's spike seem to work here as well.

[2016-01-26 02:15] tobyhede commented on #11
I am a bit rusty on the node ecosystem but happy to help test a PR.

[2016-01-26 07:16] madsflensted commented on #11
@urfolomeus Thanks for taking the time to investigate the details.
For now I have added a warning to the README.

I wonder how we should handle the users that stay with brunch < 2.2.0 ...hurray for backwards incompatible changes.

I will try to look at this tonight.

[2016-01-26 19:22] urfolomeus commented on #11
@madsflensted I've had a first pass at getting the existing test suite (well a slightly modified one) to pass.  You can see it on [my spike](https://github.com/urfolomeus/elm-brunch-new).

Will give it a go in my Phoenix/Elm app and see how it goes.

Some caveats:

1) This is very much me just poking about to see how far I can go. Happy to drop that repo entirely and bring the results in here if t

[2016-01-26 21:03] urfolomeus commented on #11
Um well, it would seem I have more work to do 😄

(not quite working yet)

[2016-01-26 22:27] madsflensted commented on #11
I have been doing some debugging in brunch and the plugin.
I have found that brunch supports the old plugin model still, but it seems that somewhere (I have not found it yet) - the fact that elm-brunch returns data = null to the callback, directs the brunch code to try and access '.path' of undefined.

If I make a slight change to [this line](https://github.com/madsflensted/elm-brunch/blob/master/

[2016-01-26 22:46] urfolomeus commented on #11
Works for me 😊 Nice find and much simpler than my approach.

[2016-01-27 07:04] madsflensted commented on #11
Ok - I have published a 0.4.2 with this workaround. I suspect that the side effect is that the rest of the pipeline is run with a empty source string, but this is probably a minor issue for Elm projects.

Going forward I think re-writing to the new plugin format, is the way to go.

[2016-01-27 10:47] tobyhede commented on #11
Works for me too

On 27 January 2016 at 18:04, Mads Flensted-Urech notifications@github.com
wrote:

[2016-01-29 01:12] michaelwa opened #12 "Error running elm-brunch"
I'm getting the following error starting Brunch watch --server

`error: Compiling of src\justCompile.elm failed. Invalid regular expression: /^src[\]?/: Unterminated character class`

The regex seems to be tied settings from brunch-config.json file specifically the "elmFolder" property.
When the elmFolder is set to elmFolder: "src", then the error appears as above. However when it is omitted then

[2016-01-29 06:29] madsflensted commented on #12
Yes - looks like cross platform bug. Can I get you to clone elm-brunch and the run `npm test` in the checkout folder? And then paste the result here.

[2016-01-29 07:08] madsflensted commented on #12
I have pushed a possible fix to github (not npm) - can I get you try using the source version?

[2016-01-29 14:00] michaelwa commented on #12
Thanks for the quick reply!!

Below is the test session results.

`C:\Users\Michael\Documents\src\elm-brunch [master ≡]> npm test

'mocha' is not recognized as an internal or external command,
operable program or batch file.
npm ERR! Test failed.  See above for more details.
C:\Users\Michael\Documents\src\elm-brunch [master ≡]>`

I'm pretty much a noob here with node.js and I'm not sure what the s

[2016-01-29 16:05] madsflensted commented on #12
Ok,  try it in your project instead:

Take index.js from elm-brunch git repo and replace the one in your
node_modules\elm-brunch\ folder
Then just run brunch again
On Jan 29, 2016 3:00 PM, "michaelwa" notifications@github.com wrote:

[2016-01-29 18:28] michaelwa commented on #12
Thank you sir that seems to have done the trick!!

[2016-01-31 21:23] madsflensted commented on #12
I have published a new version of the plugin that includes this fix

[2016-01-31 21:23] #12 closed

[2016-02-06 13:31] kesipyc commented on #6
My workaround was to output elm-make to some tmp file and only after that do a mv to a target file.
This way it's more atomic - I never saw "Unexpected end of input" again.
Ugly but it works for me...

[2016-02-10 19:21] #6 closed

[2016-03-05 06:42] puruzio opened #15 "[TypeError: Cannot read property 'split' of undefined]"
My ELM code (https://github.com/puruzio/seat_saver) works fine in Elm Reactor, and compiles well with elm-make, but when I compile it through elm-brunch, I get the following error. This doesn't give me much clue as to where to fix the error.

My-MacBook-Pro:seat_saver_old puruzio$ brunch build
Elm compile: Main.elm, in web/elm, to ../static/vendor/main.js
[BABEL] Note: The code generator has deopt

[2016-03-06 21:08] madsflensted commented on #15
Hi,

it would be helpfull if you can provide:
- [ ] what OS you use.
- [ ] content of brunch-config.js
- [ ] content of elm-package.json
- [ ] file layout for your elm files relative to root of project.

[2016-03-06 22:47] puruzio commented on #15
Thanks.
- OS: Mac OS X El Capitan Ver 10.11.3
- Brunch-config.js
  `exports.config = {
  files: {
    javascripts: {
      joinTo: "js/app.js"
    },
    stylesheets: {
      joinTo: "css/app.css"
    },
    templates: {
      joinTo: "js/app.js"
    }
  },

  conventions: {
    assets: /^(web\/static\/assets)/
  },

  // Phoenix paths configuration
  paths: {
    // Dependencies and current proje

[2016-03-07 06:23] madsflensted commented on #15
Thanks
Can you also provide version of node.js and version of elm-brunch?
On Mar 6, 2016 23:47, "Jason O." notifications@github.com wrote:

[2016-03-07 06:27] puruzio commented on #15
node v5.3.0
elm-brunch: 0.4.4

[2016-03-07 07:27] madsflensted commented on #15
Could you also provide brunch version?

I don't have an idea of the problem right now. You could try to run brunch with debug, `brunch --debug` and see if that gives you any clues.

You might also try downgrading your brunch version to 2.1.3, as there has been some significant changes in later versions, and elm-brunch has not caught up to all of them.

[2016-03-07 16:31] puruzio commented on #15
Thanks. Just tried brunch version 2.1.3, but having the same issue. Debug message (excerpt below) doesn't give any additional detail on the error. Since this issue isn't elm-brunch specific, I'm closing the issue. Thanks for looking into this.

brunch:file Generated source map for 'web/elm/elm-stuff/packages/evancz/virtual-dom/2.1.0/src/wrapper.js'  +0ms
  brunch:list Compiled web/elm/elm-stuff/pa

[2016-03-07 16:31] #15 closed

[2016-03-23 16:56] rudolfb opened #16 "Problem with initial file compilation on Windows"
## Problem

On windows it seems as if, after cloning a repo, the elm files are not compiled. Only after changing the contents of every elm file, then saving each file, does elm-brunch recognize the change in the file and compiles the elm file to a js file.

Mac OSX and Linux (Ubuntu 15) work fine. The problem only happens on Windows. I have reproduced this on two different Windows workstations.

R

[2016-03-23 21:41] madsflensted commented on #16
I don't have a platform to reproduce this error - but I suspect it relates to the "mainModules" setting - and that elm-brunch does not recognize the main module due to the non-windows path spec. All non-main modules are skipped on first alert from brunch - since brunch at startup will send events for all files.

 maybe you can try to change brunch config to:

[code]

and see what that does?

You c

[2016-03-29 08:51] rudolfb commented on #16
Hi Mads,

Sorry for the late reply. Easter belonged to my daughter.

Changed the _**brunch-config.js**_ to

[code]

and the **_chat.js_** file is now automatically created on running

`mix phoenix.server`

So this seems to resolve my problem on Windows. Thanks. Now I just need to see if this works on  Linux and Mac.

Regards

Rudolf

[2016-03-29 15:25] rudolfb commented on #16
Hi Mads,

Ok, tested on Linux, and changing the path to

[code]

failed to compile the **_Chat.elm_** **_to chat.js_**. Is this something you would have to implement in elm-brunch, to convert the path seperators from `/` to `\\` on Windows?

Regards

Rudolf

[2016-03-29 18:29] madsflensted commented on #16
Ok, Good to hear.

The whole plugin is due for an overhaul based on the new plugin structure
brunch uses,  so a general fix for this Windows / Linux path issue would go
with that release.
On Mar 29, 2016 17:26, "Rudolf Bargholz" notifications@github.com wrote:

[2016-03-31 09:16] urfolomeus opened #18 "Request: option to use use local elm binary"
This is more of a request than an issue. It occurred to me that seeing as you can now install the elm command line tool via npm, that you could install a project-specific version of elm and run from `node_modules/bin/elm` instead of `elm`. This would allow you specify elm as a project dependency and also lock to a particular version if need be.

With this being the case elm-brunch would need to be

[2016-04-01 06:21] madsflensted commented on #18
I guess you would normally have the elm binary location in your path of in the shell you run brunch in, but having an option to specify to location could maybe come in handy anyway.

[2016-04-01 09:57] urfolomeus commented on #18
Cool, thanks. I'll have a look at it over the weekend. :)

[2016-05-06 18:27] thatguyhampton opened #19 "Multiple elm-package.json files"
## Problem
I have a project with a structure similar to the following:
[code]

Each module has a different list of dependencies. How would you recommend using elm-brunch to build a project that can have multiple elm-package.json files?

## Information
- [ ] elm-brunch version
- [ ] brunch version
- [ ] nodejs version
- [x] content of brunch-config.js
- [x] content of elm-package.json
- [ ] file la

[2016-05-08 01:32] thatguyhampton commented on #19
I took a look at elms way of compiling things and the library only gets compiled into my generated javascript file when it is imported. So for this reason I should be able to have just a single elm-package.json file with all of the shared dependencies because the unused ones will not affect the file size of the resulting compiled javascript files. So basically Hodor... and no fix needed. :)

[2016-05-08 01:32] #19 closed

[2016-05-08 09:50] madsflensted commented on #19
Glad you worked it out
On May 8, 2016 03:32, "thatguyhampton" notifications@github.com wrote:

[2016-05-22 19:00] simonh1000 commented on #10
If this means when my source code is in e.g. `/src` then I think I am experiencing it, and it's leading to the watches failing pretty regularly

[2016-06-03 08:58] AdrianRibao commented on #18
+1 for this. Now I'm getting always

and I have in bashrc:

`export PATH=./node_modules/.bin:$PATH`

So it could be great if we had an option for setting the executable to:

`$(npm bin)/elm`

[2016-06-03 11:56] urfolomeus commented on #18
Yeah sorry, I've been tied up with other stuff so never got round to implementing. I _might_ have time over the coming week though :)

[2016-06-09 16:21] lessless opened #21 "Request: 'merge' build strategy"
Right now each module is compiled as separate file. In addition to that, it will be good to have the option to output all compiled modules as a single file.

[2016-06-09 20:11] madsflensted commented on #21
@lessless, yes it already has an issue #9 , and I was thinking that this should be the default behavior and separate output files should be something requiring configuration. What do you think?

[2016-06-10 03:21] lessless commented on #21
@madscoaducom totally love it! :sparkling_heart:

[2016-06-10 06:42] anronin commented on #21
@madsflensted i`m :+1: on set default behavior to merge files, like you said in https://github.com/madsflensted/elm-brunch/issues/9 each module's output file contain the entire elm core and thats not really good, i think so

[2016-06-28 14:00] lessless commented on #10
@madsflensted  is this an brunc or elm-brunch issue?

[2016-06-30 06:36] madsflensted commented on #10
@lessless it is an issue that can easily be handled by adding an elm-stuff pattern to`ignored`  in [conventions](http://brunch.io/docs/config#-conventions-) brunch option.
But I thought it would be good if elm-brunch would either ignore files from elm-stuff or at least warn about being called with such files and provide the information on how to set configuration.

[2016-07-01 05:38] lessless commented on #10
@madsflensted thank you for clarification!

[2016-07-11 20:20] madsflensted commented on #9
Fixed by @igray in #22

[2016-07-11 20:20] #9 closed

[2016-07-11 20:22] madsflensted commented on #21
For now it is possible to enable single file target via feature from #22

[2016-07-11 20:22] #21 closed

[2016-07-15 15:03] OvermindDL1 opened #23 "Feature Request: 'elmx' support"
It would be highly convenient if elmx was supported via elm-brunch as currently there are no brunch plugins for elmx.  The node library is just `elmx` and it is a very simple transpiler that converts react-like html structures in Elm code into the corresponding Elm.Html structure, thus giving back a normal .elm file.  It is made to be fairly trivial to embed into build systems, however using bunch

[2016-07-18 21:17] madsflensted opened #25 "Run tests automatically for PR"
## Problem

When a pull request is created giving the developer feedback by running the test suite would be considerate.

[2016-07-18 21:27] madsflensted commented on #23
I think that it would be better to create a separate brunch-elmx plugin, it is not too complicated. A good starting point is to look at the [livescript-brunch](https://github.com/brunch/livescript-brunch/blob/master/index.js) plugin as an example of a compile plugin.

[2016-07-29 22:14] OvermindDL1 opened #26 "Race condition in brunch compile"
I am having the elm-brunch plugin compile a variety of main apps into a single file, which is output to a brunch watched directory of other javascript, which then all gets compiled into one single javascript file.  However brunch does not seem to pick up on Elm changes immediately as it seems to start compiling while Elm does and Elm finishes writing 'after' Brunch has already started compiling th

[2016-09-08 04:40] jamonholmgren opened #28 "No color coding in terminal"
## Problem

When I run elm-brunch, I get monochromatic errors:

![image](https://cloud.githubusercontent.com/assets/1479215/18337207/58614d76-7543-11e6-9af2-c8a448ca57c4.png)

When I run elm-make directly, I get pretty errors:

![image](https://cloud.githubusercontent.com/assets/1479215/18337212/61fffe7c-7543-11e6-9cb8-43f7c4268a9c.png)

## Information
- [x] elm-brunch version 0.7.0
- [x] brunch v

[2016-09-14 14:12] madsflensted commented on #26
Yes there have been a couple of different issues related to this. I am not sure they will ever be a perfect solution to this, but one way that might work is to wait (async) for the elm to finish, then read the resulting js file and pass it on from the compilation step, instead of relying on brunch reading the output of elm compiler.

[2016-09-14 14:13] madsflensted commented on #28
That would be a great feature, don't hold back if you want to submit a PR for this.

[2016-09-14 14:28] OvermindDL1 commented on #26
Ah, so setting it up as a brunch compiler instead of a pre-processing step, that might work yeah.  Just remember that at least on Windows the file it unreadable for up to a few seconds after elm finishes while windows finishes writing it to disk.  This might be the main cause of brunch not picking up the new changes properly actually, but if the elm compiler could output to a file and to stdout (o

[2016-09-17 14:30] niklas commented on #28
I think this is caused by `elm-make` failing to detect a TTY (a "proper" terminal) [1] because it is executed by brunch. The canonical solution seems to implement a command-line flag in `elm-make` [2].

[1] https://github.com/elm-lang/elm-make/blob/master/src/Report.hs#L35
[2] http://unix.stackexchange.com/questions/10823/where-do-my-ansi-escape-codes-go-when-i-pipe-to-another-process-can-i-keep-t

[2016-09-17 20:27] jamonholmgren commented on #28
@niklas That's incredibly helpful. Thanks. I'll file an issue with `elm-make` and possibly work on it if I can find time.

[2016-10-11 14:16] tommcgurl commented on #10
👍 Thanks @madsflensted for the suggestion. I was facing the same issue and adding the `ignored` property to my brunch config did the trick. I definitely think adding the warning or even ignoring by default would be super helpful. I'd be happy to take a look and see if I can add that with a PR if this is something everyone would find useful and fitting for this repo.

[2016-10-13 03:38] tommcgurl commented on #10
After taking a look it seems like this issue is out of the scope of `elm-brunch`. The purpose of this plugin is simply to run `elm make` on your specified elm directory in order to compile your elm code. The issue that I'm seeing happens when brunch itself tries to build javascript code within the `elm-stuff` directory. Is this issue the same for everyone else?

Specifically, I was seeing errors w

[2016-10-18 15:43] simonh1000 opened #29 "Confused about configuration"
## Problem

Elm is compiling the file I just saved, rather than Main.elm where my main function resides. As a result I don't get the new functionality when I save (and have to switch the Main.elm and fake a save of that) and I'm getting files such as app.js.map in /priv/static/js

I've looked at the examples,  but made no progress. Can you help?
## Information
- ["^0.7.0", ] elm-brunch version
- [

[2016-10-19 07:43] madsflensted commented on #29
have you tried setting the `elmFolder` setting, and changing your
`mainModules` path accordingly?

On Tue, Oct 18, 2016 at 11:43 PM, Simon Hampton notifications@github.com
wrote:

[2016-10-19 08:01] simonh1000 commented on #29
I tried:

[code]

and now I get the following when I run `mix phoenix.server`

[code]

and that results in multiple .js files

[2016-10-19 09:05] madsflensted commented on #29
Ok.

Hadn't spotted that your elm-package.json was i your project root. Then
your original settings are the right ones.

What output do you get from the plugin when running in the 1st scenario?

On Wed, Oct 19, 2016 at 4:01 PM, Simon Hampton notifications@github.com
wrote:

[2016-10-19 09:58] simonh1000 commented on #29
I cut some files from the list before for simplicity. I deleted /priv/static/js and restarted phoenix. This is what I saw

[code]

Could it have something to do with me using App.elm as a filename, while there is an app.js as part of the basic Phoenix setup

[2016-10-19 14:38] madsflensted commented on #29
Looks like elm-brunch is not picking up the mainModules  configuration
item. Since it insists on compiling elm files to individual js targets

On Oct 19, 2016 17:58, "Simon Hampton" notifications@github.com wrote:

[2016-10-19 14:48] simonh1000 commented on #29
Is that something I can fix myself?

On 19 Oct 2016 16:38, "Mads Flensted-Urech" notifications@github.com
wrote:

[2016-10-19 15:10] madsflensted commented on #29
Not sure why.
You can try to add some debug to elm-brunch/index.js in your node_modules
folder and see if you can find out why.

The general idea is that any file being watched will cause all main modules
to be compiled instead of the file itself.

On Oct 19, 2016 22:49, "Simon Hampton" notifications@github.com wrote:

[2016-11-17 21:13] AlexKovalevych commented on #5
Any news on this one?

[2017-03-17 20:11] slashmili opened #34 "relative path executablePath"
## Problem

I'm trying to use `executablePath` in elm-brunch to run local installed `elm`.

The problem that I have this plugins fails to run `elm-make`
[code]

It does work if I make this change into `index.js` :
[code]

Is it possible to check the `executablePath` and if it's relative path use this patch otherwise use it as it is? something like this :

[code]

## Information
- [x] elm-brunch ve

[2017-03-21 08:45] bigardone opened #35 "brunch plugin build order"
## Problem
Hi! I'm experimenting an issue in a project, where I'm using `elm-brunch` along with `babel-brunch`. The issue is that `elm-babel` seems to be building first, and one of the js files is importing the `main.js` created by `elm-brunch`, which doesn't exist yet, so the build breaks due to not finding that file. I've tried arranging the npm modules to solve the build order issue, as specifi

[2017-03-29 02:52] shamanime commented on #35
I have the same issue, specially when running 'brunch build --production'.

[2017-06-25 17:28] emblem opened #37 "Fails in minimal test case"
## Problem
[code]
Edit brunch-config.js here

[code]

My brunch-config.js is:
[code]

## Information
- [0.9.0 ] elm-brunch version
- [2.10.9] brunch version
- [4.2.6 ] nodejs version
- [ see above] content of brunch-config.js
- [ none] content of elm-package.json
- [ none in this example] file layout for your elm files relative to root of project.
- [ Ubuntu 16.04] Operating System

[2017-06-25 17:32] #37 closed

[2017-06-25 17:32] emblem commented on #37
nvm, user error.

[2017-07-18 22:06] chazsconi commented on #35
@bigardone @shamanime Yes, I have the same problem too.  Reverting to v0.7.0 solves the issue as I believe it was introduced by https://github.com/madsflensted/elm-brunch/pull/30.

Other than #33 nothing else has been changed since then apart from updates to the README.

Perhaps a solution would be to have an option to determine when the compilation is done - in the 0.7.0 way or 0.8.0 way.

For no

[2017-07-28 22:38] jesseshieh commented on #35
I had the same problem. Downgrading to 0.7.0 fixed it for me. Thanks you!

[2017-09-24 03:00] nlfiedler commented on #35
It's been a while, any update on this?

[2017-09-25 13:39] madsflensted commented on #35
If anybody can create PR where the build order is configurable then I will be happy to merge and publish.

[2017-10-01 15:18] chazsconi commented on #35
I'm not really sure if the way that #30 changes the elm compilation to happen with the `compile` method to the `onCompile` hook is the right approach.  Furthermore, I don't think having some switch to change between using `compile` or `onCompile` is appropriate as there should just be one way that works in all scenarios.

I cannot reproduce the problem that #30 tries to fix (which was related to t

[2017-10-24 09:48] anagrius opened #38 "brunch build --production does not have a non-zero exit code on error"
## Problem

`brunch build --production` does not have a non-zero status code when there is an error in Elm code. If you on the other hand introduce an error in, say a JavaScript, it will return exit code `1`.

This means our build server does not notice errors in Elm code. Which is bad :(

## Information
- [0.9.0 ] elm-brunch version
- [2.10.10] brunch version
- [v8.1.3] nodejs version
- [Mac] Ope

[2017-10-27 09:21] happysalada commented on #35
had a problem where elm.js wasn't compiled at all and there was no warning.
Fell on this issue by chance and I'm super glad that reverting to 0.7 fixed it.
thanks!

[2017-10-29 16:08] chazsconi commented on #38
@anagrius I believe this has been introduced by #30. I can reproduce your problem (both with and without the --production flag) with version 0.9.0 (which contains #30) but not with 0.7.0 (which does not contain #30).

I therefore suggest trying version 0.7.0.

[2017-10-29 16:13] chazsconi commented on #35
@madsflensted In the absence of any reply from @stelmakh in how to reproduce the original problem that PR #30 tried to fix, and also that, as far as I can see, #30 introduced bug #38, can we just revert #30 ?

Otherwise we will be stuck with having to use v0.7.0 forever.

[2017-10-29 21:15] anagrius commented on #38
@chazsconi Great Catch. @madsflensted this is a major deal. For us it means that even if you have compile errors while developing Brunch Succeeds and presents a working site (You don't get a compile error notification) and thus you don't notice the issue. For the CI, you don't get any build error. :.(

[2017-10-30 01:09] madsflensted commented on #35
I will try to have a  look at it.

On Oct 30, 2017 00:13, "chazsconi" <notifications@github.com> wrote:

[2017-10-30 09:59] madsflensted commented on #35
Reverted PR 30, it is published as 0.10.0.
Can you check if this resolves this issue?

[2017-10-30 10:00] madsflensted commented on #38
Published v 0.10.0 wich reverts PR30.
Can you check if this resolves this issue?

[2017-10-30 10:39] happysalada commented on #35
I had a problem with elm not compiling at all, and it's fixed with version 0.10.0, thanks a lot!

[2017-10-30 11:56] anagrius commented on #38
I can confirm that that did it. Both notifications and Error code is back to normal! 🎉

[2017-10-30 14:11] anagrius commented on #38
@madsflensted It seems 0.10.0 introduces race condition in dependency resolution. It seems to try to compile the code before the dependencies have finished downloading. This leads to situations where you have to delete elm-stuff/. If you on the other hand say `elm package install` before running brunch, everything works.

[2017-10-30 18:47] chazsconi commented on #38
@anagrius I cannot reproduce this problem with 0.10.0.  When I delete my `elm-stuff` folder and then run `brunch build` it pauses at the compile step of each Elm file while it downloads the dependencies.

Can you reproduce it with 0.7.0?
When the problem happens and the compilation fails, does it return a non-zero exit code?
Does it only happen with the `--production` flag?

[2017-10-30 18:51] chazsconi commented on #35
Fixed for me also in 0.10.0 Thanks @madsflensted

[2017-10-30 19:09] anagrius commented on #38
@chazsconi I have all kinds of problems now. Our project is about 50k lines of Elm, that might be what is causing the race condition. I don't only experience problems with dependencies, also random compile errors that go away after a restart of brunch. I will try out 0.7.0

[2017-10-31 00:16] #35 closed

[2017-10-31 00:20] madsflensted commented on #38
@anagrius I am going to close this issue as your current problem seems to be a different type.
If you find that it is caused by a problem in elm-brunch please raise a new issue.

In your CI setup you could try to run the elm make separate from brunch.
Also check if you have any kind of parallelization enabled.

[2017-10-31 00:20] #38 closed

[2017-10-31 00:25] madsflensted commented on #34
The executablePath is relative to the elmFolder path configuration. Have you checked if you need a `../` ?

[2017-10-31 00:26] madsflensted commented on #29
Closed due to inactivtiy

[2017-10-31 00:26] #29 closed

[2017-11-01 08:53] anagrius commented on #38
@madsflensted I am not sure what you mean about my current problem? After the update to 0.10.0 elm-brunch is very broken. Have you rolled back? If not you should do so.

[2017-11-01 10:48] chazsconi commented on #38
@anagrius For me 0.9.0 was broken and 0.10.0 is working fine.  Did you try on 0.7.0 yet?

As @madsflensted says it would be better to open a new issue for the problem you are experiencing.

[2017-11-03 00:52] madsflensted commented on #38
@anagrius I just did a test using src from [https://github.com/rtfeldman/elm-spa-example] and this brunch-config.js:

[code]
Using 0.10.0 `brunch build --production` works fine.
If you can pin point it closer then feel free to open a new issue.

[2017-11-03 07:36] anagrius opened #39 "elm-brunch watch --server gets out of sync"
## Problem

Since 0.10.0 elm-brunch somehow gets out of sync with the files on disk. This results in elm-brunch --watch reporting compile errors even after the issues have been resolved.

I don't have a small isolated example. But I will try explaining the symptoms:

While working on the project and changing some things, I introduce a compile error. Most of the time, the elm-brunch is happy after

[2017-11-03 07:37] anagrius commented on #38
--production works fine now. But watch is broken for us. I have opened a new issue #39. Sorry about the delay... too busy writing Elm code. :)

[2017-11-05 10:01] slashmili commented on #34
I have moved my project to [elm-app](https://github.com/halfzebra/create-elm-app)

Don't have the setup anymore to test `../` :(

[2017-11-05 10:01] #34 closed

[2018-02-26 01:03] mychalmcgregor commented on #39
Was able to fix, what I believe to be, the same problem by disabling elm-format.

[2018-03-03 00:29] razzeee commented on #39
Any leads on this?

[2018-03-04 05:02] #25 closed

[2018-03-23 10:25] savish opened #42 "Failing elm-make on 0.11.0 for a config that works on 0.10.0"
## Problem
Using the same brunch configuration for an app running phoenix+elm, with one version using elm-brunch 0.10.0 and the other using 0.11.0, the following error always occurs on 0.11.0:

    $ mix phx.server
    ...
    Elm compile: Main.elm, in elm, to ../vendor/main.js
    ...
    elm-make: Main.elm: openFile: does not exist (No such file or directory)

There is no error on the 0.10.0 ver

[2018-03-25 03:55] madsflensted commented on #42
Thank you for reporting this and the detailed information.

@neildaemond can you have a look at this? We will need to expand test to cover this regression.

[2018-03-25 19:25] neildaemond commented on #42
Hi, yes thank you for the amount of detail. You are completely right, I can see how this can fail - I just didn't think of elm project with that structure. I'll try rectify that now.

[2018-03-25 21:28] neildaemond commented on #42
fixed in https://github.com/madsflensted/elm-brunch/pull/43

[2018-03-25 23:54] madsflensted commented on #42
Fix published as 0.11.1
@savish can you give it a try?

[2018-03-31 05:23] gak commented on #39
I also have this problem (macOS, different IDE).

[2018-04-01 16:51] sashaafm commented on #39
I think I might have this problem too

[2018-04-04 05:39] savish commented on #42
Hey! Works as expected. Thank you for the quick fix!

[2018-04-06 04:54] #42 closed

[2018-08-13 00:39] jdewar commented on #39
I have seen it in Atom and VSC -- this doesn't seem to be an editor artifact.   i save the file, and i see the last error  -- yet the file i saved actually has no errors.

it looks as if i did nothing, and yet it is now working -- this bug is very hard to adjust for by habit only.

[2018-08-13 06:06] razzeee commented on #39
If you're using Phoenix, they switched from brunch to webpack which works
flawless for me so far.

On Mon, 13 Aug 2018, 02:39 jdewar, <notifications@github.com> wrote:

[2018-08-27 07:20] Guid75 opened #44 "Elm 0.19"
Are you planning an update for Elm 0.19? Or do you accept a patch for this?

[2018-08-27 07:22] madsflensted commented on #44
PR will be very welcome.  Probably good idea to think about backwards
compatibility though

On Mon, Aug 27, 2018, 15:20 Guid75 <notifications@github.com> wrote:

[2018-09-03 07:47] Voronchuk commented on #44
https://github.com/madsflensted/elm-brunch/pull/45

[2019-01-09 17:52] lenards commented on #44
With #45 merged, I think this issue could be closed.

[2019-01-10 10:19] #44 closed

[2019-01-10 10:19] madsflensted commented on #44
Yes thanks

[2019-01-10 13:21] lenards commented on #44
Thank you, Mads, for your work on elm-brunch.

On Thu, Jan 10, 2019 at 3:19 AM Mads Flensted-Urech <
notifications@github.com> wrote:

[2019-03-30 16:44] mickeyvip opened #48 "Can't compile Elm file"
## Problem
![image](https://user-images.githubusercontent.com/220427/55278974-308d3780-5324-11e9-9206-708594b6f568.png)

## Information
- [x] elm-brunch version - `0.12.0`
- [x] brunch version - `2.10.17`
- [x] nodejs version - `10.15.0`
- [x] content of brunch-config.js
[code]
- [x] content of elm.json (**Elm 0.19**)
[code]
- [x] file layout for your elm files relative to root of project.
![image

[2019-03-31 17:30] mickeyvip commented on #48
Found 1 of my problems - `mainModules` should be an array.

Now the file compiles:

![image](https://user-images.githubusercontent.com/220427/55292433-ba580600-53f3-11e9-94c5-bcd7b0ddf4fe.png)

But when requiring it - it gets only an empty object:

![image](https://user-images.githubusercontent.com/220427/55292447-d65ba780-53f3-11e9-98b8-b0b026c16684.png)

[2019-04-01 13:24] madsflensted commented on #48
Good to hear that you solved the compilation problem. Beware that the elm brunch plugin does not pass the generated code on down the brunch pipeline, as other to-js-transpilers do. So you will need to either include the generated js in your html use other means to get it into the main bundle.

[2019-04-01 16:10] mickeyvip commented on #48
@madsflensted , thank you.

Following your advice, I have added `<script src="js/main.js"></script>` to the `index.html`:

[code]
removed the `const Elm = require('./elm/Main.elm');` from the `application.js`.

[code]

and now it is working:

![image](https://user-images.githubusercontent.com/220427/55342974-b50dc080-54b2-11e9-834a-b62a4dde79ee.png)

[2019-04-01 16:17] mickeyvip commented on #48
Maybe it's worth to mention this in the docs? Or did I miss this?

[2019-04-01 16:20] #48 closed

[2022-04-06 19:31] #39 closed